<div align="center"><a href="http://blackznc.net">BlackZNC.net</a> | <a href="http://blackznc.net/peticion">Request ZNC</a> | <a href="http://blog.blackznc.net">Blog</a> | <a href="https://www.freed0m4all.org">Freed0m4All Network</a> | <a href="http://kopimi.com/kopimi/">KOPIMI 2013</a></div>